In [ ]:
import pandas as pd

df = pd.read_csv('train.csv')

In [ ]:
df.head()

   id  Umur Kelas Pekerja  ...  Kerugian Capital Jam per Minggu   Gaji
0   0    21    Wiraswasta  ...               0.0           35.0  <=7jt
1   1    49    Wiraswasta  ...               0.0           40.0  <=7jt
2   2    44    Wiraswasta  ...               0.0           45.0   >7jt
3   3    24    Wiraswasta  ...               0.0           35.0  <=7jt
4   4    33    Wiraswasta  ...               0.0           40.0   >7jt

[5 rows x 13 columns]

In [ ]:
df.isna().sum()

In [ ]:
df['Berat Akhir'] = df['Berat Akhir'].fillna(method='ffill')
df['Pendidikan'] = df['Pendidikan'].fillna(method='ffill')
df['Jmlh Tahun Pendidikan'] = df['Jmlh Tahun Pendidikan'].fillna(method='ffill')
df['Status Perkawinan'] = df['Status Perkawinan'].fillna(method='ffill')
df['Pekerjaan'] = df['Pekerjaan'].fillna(method='ffill')
df['Jenis Kelamin'] = df['Jenis Kelamin'].fillna(method='ffill')
df['Keuntungan Kapital'] = df['Keuntungan Kapital'].fillna(method='ffill')
df['Kerugian Capital'] = df['Kerugian Capital'].fillna(method='ffill')
df['Jam per Minggu'] = df['Jam per Minggu'].fillna(method='ffill')
df['Gaji'] = df['Gaji'].fillna(method='ffill')

In [ ]:
df['Kelas Pekerja'].value_counts()

In [ ]:
df['Pendidikan'].value_counts()

In [ ]:
df['Status Perkawinan'].value_counts()

In [ ]:
df['Pekerjaan'].value_counts()

In [ ]:
df['Gaji'].value_counts()

In [ ]:
pendidikan_replace = {
    'SD' : 1,
    '1st-4th' : 2,
    '5th-6th' : 3,
    '7th-8th' : 4,
    '9th' : 5,
    '10th' : 6,
    '11th' : 7,
    '12th' : 8,
    'SMA' : 9,
    'D3' : 10,
    'D4' : 11,
    'Sarjana' : 12,
    'Pendidikan Tinggi' : 13,
    'Master' : 14,
    'Sekolah Professional' : 15,
    'Doktor' : 16
}

df['Pendidikan'] = df['Pendidikan'].replace(pendidikan_replace)

In [ ]:
kelamin_replace = {
    'Laki2' : 0,
    'Perempuan' : 1
}

df['Jenis Kelamin'] = df['Jenis Kelamin'].replace(kelamin_replace)

In [ ]:
gaji_replace = {
    '<=7jt' : 0,
    '>7jt' : 1
}

df['Gaji'] = df['Gaji'].replace(gaji_replace)

In [ ]:
df['Jmlh Tahun Pendidikan'] = df['Jmlh Tahun Pendidikan'].astype(int)

In [ ]:
df['Jam per Minggu'].value_counts()

In [ ]:
df = df.drop('id', axis=1)

In [ ]:
df.head()

   Umur Kelas Pekerja  Berat Akhir  ...  Kerugian Capital  Jam per Minggu Gaji
0    21    Wiraswasta       242912  ...               0.0            35.0    0
1    49    Wiraswasta       140782  ...               0.0            40.0    0
2    44    Wiraswasta       120057  ...               0.0            45.0    1
3    24    Wiraswasta       194630  ...               0.0            35.0    0
4    33    Wiraswasta       219619  ...               0.0            40.0    1

[5 rows x 12 columns]

In [ ]:
df = pd.get_dummies(df, columns=['Kelas Pekerja', 'Status Perkawinan', 'Pekerjaan'])

In [ ]:
df.head()

   Umur  Berat Akhir  ...  Pekerjaan_Tech-support  Pekerjaan_Tentara
0    21       242912  ...                       0                  0
1    49       140782  ...                       0                  0
2    44       120057  ...                       0                  0
3    24       194630  ...                       0                  0
4    33       219619  ...                       0                  0

[5 rows x 39 columns]

In [ ]:
X = df.drop('Gaji', axis=1)
y = df['Gaji']

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=21, stratify=y)

In [ ]:
X_train.shape

(26995, 38)

In [ ]:
X_test.shape

(8999, 38)

In [ ]:
y_train.shape

(26995,)

In [ ]:
y_test.shape

(8999,)

In [ ]:
# Model 1 (DecisionTreeRegressor) TESTING
from sklearn.tree import DecisionTreeRegressor

model_tree = DecisionTreeRegressor()

In [ ]:
from sklearn.model_selection import GridSearchCV
import numpy as np

params = {
    'max_depth' : np.arange(2, 151),
    'max_leaf_nodes' : np.arange(2 151)
}

gscv = GridSearchCV(model_tree, param_grid=params, scoring='roc_auc', cv=10)
gscv.fit(X_train, y_train)

In [ ]:
gscv.best_params_

In [ ]:
model_tree = DecisionTreeRegressor(max_depth=12, max_leaf_nodes=140, criterion='mse')
model_tree.fit(X_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=12,
                      max_features=None, max_leaf_nodes=140,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [ ]:
# Model 2 (RandomForestRegressor) USING
from sklearn.ensemble import RandomForestRegressor

model_forest = RandomForestRegressor()

In [ ]:
from sklearn.model_selection import GridSearchCV
import numpy as np

params = {
    'max_depth' : np.arange(2, 151),
    'max_leaf_nodes' : np.arange(2 151)
}

gscv = GridSearchCV(model_forest, param_grid=params, scoring='roc_auc', cv=10)
gscv.fit(X_train, y_train)

In [ ]:
estimator = len(df)
estimator

35994

In [ ]:
model_forest = RandomForestRegressor(max_depth=12, max_leaf_nodes=140, criterion='mse', n_estimators=int(estimator))
model_forest.fit(X_train, y_train)

In [ ]:
y_predict = model_forest.predict(X_test)

In [ ]:
from sklearn.metrics import roc_auc_score

score = roc_auc_score(y_test, y_predict)
score

0.9110138957999925

In [ ]:
y_predict

In [ ]:
import pandas as pd

df2 = pd.read_csv('test.csv')

In [ ]:
df2.head()

      id  Umur  ... Kerugian Capital  Jam per Minggu
0  35994    30  ...              0.0            40.0
1  35995    28  ...              0.0            50.0
2  35996    34  ...              0.0            40.0
3  35997    51  ...       28028000.0            40.0
4  35998    20  ...       22428000.0            40.0

[5 rows x 12 columns]

In [ ]:
pendidikan_replace = {
    'SD' : 1,
    '1st-4th' : 2,
    '5th-6th' : 3,
    '7th-8th' : 4,
    '9th' : 5,
    '10th' : 6,
    '11th' : 7,
    '12th' : 8,
    'SMA' : 9,
    'D3' : 10,
    'D4' : 11,
    'Sarjana' : 12,
    'Pendidikan Tinggi' : 13,
    'Master' : 14,
    'Sekolah Professional' : 15,
    'Doktor' : 16
}

df2['Pendidikan'] = df2['Pendidikan'].replace(pendidikan_replace)

In [ ]:
kelamin_replace = {
    'Laki2' : 0,
    'Perempuan' : 1
}

df2['Jenis Kelamin'] = df2['Jenis Kelamin'].replace(kelamin_replace)

In [ ]:
df2['Jmlh Tahun Pendidikan'] = df2['Jmlh Tahun Pendidikan'].astype(int)

In [ ]:
df2 = pd.get_dummies(df2, columns=['Kelas Pekerja', 'Status Perkawinan', 'Pekerjaan'])

In [ ]:
df_id = df2['id']

In [ ]:
df2 = df2.drop('id', axis=1)

In [ ]:
predict = model_forest.predict(df2)

In [ ]:
df_new = pd.DataFrame({'Gaji' : predict})

In [ ]:
df_new = pd.merge(df_id, df_new, how='outer', left_index=True, right_index=True)

In [ ]:
df_new

         id      Gaji
0     35994  0.010540
1     35995  0.125356
2     35996  0.454440
3     35997  0.242614
4     35998  0.008219
...     ...       ...
9594  45588  0.070378
9595  45589  0.154313
9596  45590  0.008219
9597  45591  0.020167
9598  45592  0.172832

[9599 rows x 2 columns]

In [ ]:
df_new.to_csv('sampleSubmission.csv', index=False)